*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
td,
th,
p {
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}

ul,
li {
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 10pt;
	color: #333;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #3397db;
	text-decoration: none;
}

a img {
	border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arial", "Helvetica", sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

.inside #maincontent {
  display: flex;
  flex-wrap: wrap;
}

#footer {
  background-color: #b60000;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */

nav {
  width: 100%;
  background-color: #b60000;
  text-align:center;
}

nav h1 {
  margin: auto;
  padding: 25px 50px;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #024F92;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #02447E;
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  width: 100%;
  background-color: #b60000;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: "Arial", sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  min-width: 170px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

#restaurants-list li {
  position: relative;
  padding-bottom: 70px;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px 15px 0 0;
  min-height: 380px;
  text-align: left;
  width: calc((100% - 30px) / 3);
}

#restaurants-list li:nth-child(3n) {
  margin: 15px 0 0 0;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
.flex-container {
  display: flex;
}
#restaurants-list li h2 {
  color: #b60000;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 15px 10px;
  text-transform: uppercase;
  width: calc(100% - 20px);
}

#restaurants-list p {
  margin: 0 15px;
  font-size: 11pt;
}

#restaurants-list li a {
  position: absolute;
  bottom: 0;
  background-color: #b60000;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 10px;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}

.inside #map-container {
  margin-top: 130px;
  flex: 0 0 100%;
}

#restaurant-name {
  color: #b60000;
  font-family: Arial,sans-serif;
  font-size: 16pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 10px 0 15px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  max-width: 100%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 30px 0 30px 40px;
  width: 40%;
}

#reviews-container {
  padding: 30px 40px;
  width: 60%;
}

#reviews-container h4 {
  color: #b60000;
  font-size: 16pt;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 5px;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  padding: 0 0 20px;
  overflow: hidden;
  position: relative;
  border-radius: 15px 0 15px 0;
}

#reviews-list li > p,
.review-header {
  margin: 0 0 10px;
  padding: 0 20px;
}

#restaurant-hours td {
  color: #666;
}

.review-header {
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.review-header p {
  color: #fff;
}

.review-rating {
  background: #b60000;
  color: #fff;
  font-weight: 600;
  display: inline-block;
  margin-left: 20px !important;
  padding: 5px 15px !important;
  border-radius: 3px;
}

.review-date {
  color: #ccc !important;
  margin-left: auto;
}

.icon-heart {
  position: relative;
  color: #ccc;
  font-size: 20px;
  cursor: pointer;
  margin: 20px 10px 10px;
}

.icon-heart.active {
  color: #e2202c;
}

.icon-heart:after {
  content: "\e901";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0s ease-in-out;
}

.icon-heart.active:after {
  transform: scale(1.5);
  opacity: 0;
  transition: all .3s ease-in-out;
}

.icon-trash {
  font-size: 20px;
  cursor: pointer;
  color: #b60000;
  padding: 11px 0 13px 15px;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?54j9oy');
  src:  url('fonts/icomoon.eot?54j9oy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?54j9oy') format('truetype'),
    url('fonts/icomoon.woff?54j9oy') format('woff'),
    url('fonts/icomoon.svg?54j9oy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trash:before {
  content: "\e902";
}
.icon-star:before {
  content: "\e900";
}
.icon-heart:before {
  content: "\e901";
}


.no-scroll {
  overflow: hidden;
  padding-right: 17px;
}

.modal__back {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: -2;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  overflow: hidden;
}

.show-back {
  opacity: .8;
}

.modal {
  background: transparent;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow-y: auto;
}

.show-modal {
  opacity: 1;
}

.modal__content {
  background: #fff;
  width: 50%;
  margin: -150px auto;
  transition: margin .2s ease-in-out, opacity .2s ease-in-out;
  opacity: 0;
  padding: 20px 30px;
  position: relative;
  border-radius: 5px;
}

.title__header {
  font-size: 20px;
}

label:not([for^="star"]) {
  display: block;
  margin-top: 10px;
  clear: both;
}



input[type="text"], textarea {
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 100%;
  resize: none;
  padding: 5px;
  font-family: inherit;
}

.add-review {
  background-color: #b60000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 3px;
  transition: background-color .2s;
}

.add-review:hover {
  background-color: #d80000;
}

.close__modal {
  font-size: 25px;
  position: absolute;
  right: 10px;
  top: 0;
  cursor: pointer;
}

.show-modal .modal__content {
  margin: 50px auto;
  opacity: 1;
}

.review-stars {
  font-size: 20px;
  color: #ccc;
}

label:hover .icon-star,
label:hover ~ label .icon-star,     
input:checked ~ label .icon-star {
  color: #b60000;
}

label:active .icon-star {
  position:relative;
  top:1px;
  left:1px;
}

input[name="rating"] + label {
  float: right;
}
.review-stars {
  float: left;
}

.icon-star {
  color: #ccc;
  cursor: pointer;
}

input[type="radio"] {
  position: absolute;
  top: -9999px;
}



/* ====================== media queries ====================== */

@media screen and (max-width: 800px) {
  #restaurants-list li,
  #restaurants-list li:nth-child(3n) {
    margin: 15px 15px 0 0;
    width: calc((100% - 15px) / 2);
  }

  #restaurants-list li:nth-child(2n) {
    margin: 15px 0 0 0;
  }

  .inside #maincontent {
    display: block;
  }

  #restaurant-container, 
  #reviews-container {
    width: 85%;
    margin: auto;
    padding: 30px 0;
  }

  .modal__content {
    width: 60%;
  }
}

@media screen and (max-width: 550px) {
  #restaurants-list li,
  #restaurants-list li:nth-child(2n),
  #restaurants-list li:nth-child(3n) {
    margin: 15px 0 0 0;
    width: 100%;
  }

  #cuisines-select {
    margin: 0 0 10px 143px;
  }

  #restaurant-container, 
  #reviews-container {
    width: 90%;
  }

  .modal__content {
    width: 70%;
  }
}

@media screen and (max-width: 360px) {
  .filter-options {
    display: block;
    text-align: center;
    padding: 20px 0 10px;
  }

  #cuisines-select {
    margin-left: 0;
  }

  nav h1 a {
    font-size: 12pt;
    letter-spacing: 5px;
  }

  .modal__content {
    width: 80%;
  }
}

